@import "./styles/fonts.css";
@import "./styles/scroll.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.5rem;

    --cgray-0: 0 0% 100%;
    --cgray-50: 0 0% 95%;
    --cgray-100: 0 0% 90%;
    --cgray-200: 0 0% 80%;
    --cgray-300: 0 0% 70%;
    --cgray-400: 0 0% 60%;
    --cgray-500: 0 0% 50%;
    --cgray-600: 0 0% 40%;
    --cgray-700: 0 0% 30%;
    --cgray-800: 0 0% 20%;
    --cgray-900: 0 0% 10%;
    --cgray-950: 0 0% 5%;
  }

  .dark {
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.5rem;

    --cgray-950: 0 0% 100%;
    --cgray-900: 0 0% 95%;
    --cgray-800: 0 0% 90%;
    --cgray-700: 0 0% 80%;
    --cgray-600: 0 0% 70%;
    --cgray-400: 0 0% 60%;
    --cgray-500: 0 0% 50%;
    --cgray-300: 0 0% 40%;
    --cgray-200: 0 0% 30%;
    --cgray-100: 0 0% 20%;
    --cgray-50: 0 0% 10%;
    --cgray-0: 0 0% 5%;
  }
}

@layer base {
  * {
    /* outline: 1px solid violet; */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* font-family: GeistSans, sans-serif; */
    @apply border-cgray-100;
  }

  html {
    font-size: 15.5px;
    overflow: hidden;
  }

  @media (max-width: 639px) {
    html {
      font-size: 16px;
    }
  }

  body {
    @apply bg-cgray-0 text-cgray-950;
    overflow: hidden;
  }

  button {
    outline: none;
  }

  li {
    list-style: none;
  }
}
